import styled from "styled-components";

export const SidebarContainer = styled.div`
  width: 250px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
`;

export const Nav = styled.nav`
  display: flex;
  flex-direction: column;
`;

export const NavItem = styled.a`
  text-decoration: none;
  color: #333;
  padding: 10px;
  transition: 0.3s;

  &:hover {
    background-color: #e0e0e0;
  }
`;
